@import "components/body";
@import "components/header";
@import "components/section-principal";
@import "components/section-spoty";
@import "components/redireccion-grid";
@import "components/ubicacion";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }